<html>
<head>
  <meta charset="utf-8" />
  <script src="https://unpkg.com/vue@next"></script>
  <style>
    div#app { margin: 20px auto; padding: 20px; width: 300px;
          border: 1px solid gray; box-shadow: 5px 5px 5px #aaa; }
    p { font-size: 15pt; }
    select { padding: 5px; font-size: 15pt; width: 250px; margin: 10px; }
    input { padding: 5px; margin: 10px; font-size: 15pt;}
    label { font-size: 14pt; }
  </style>
</head>
<body>
  <div id="app">
      <h1>입력 양식</h1>
      <input type="text" v-model="name" placeholder="이름을 입력하세요"/>
      <div>
        <label><input type="radio" value="male" v-model="sex" />남자</label>
        <label><input type="radio" value="female" v-model="sex" />여자</label>
      </div>
      <select v-model="major">
        <option value="">전공을 선택하세요</option>
        <option value="소프">소프트웨어공학</option>
        <option value="컴공">컴퓨터공학</option>
        <option value="정통">정보통신공학</option>
        <option value="인지">인공지능</option>
      </select>
      <label><input type="checkbox" v-model="bool" />활성화</label>
      <hr />
      <p>이름: {{ name }}</p>
      <p>성별: {{ sex }}</p>
      <p>전공: {{ major }}</p>
      <p>활성화: {{ bool }}</p>
  </div>
  <script type="text/javascript">
    let app = {
      data() {
        return {
          major: "",       
          bool: false
        };
      }
    };
    Vue.createApp(app).mount("#app");
   </script>
</body>
</html>